body{
  background-image: url("http://wallpapercave.com/wp/3IyqPl0.jpg");
}
h1 {
  position: absolute;
  top:30%;
  left: 50%;
  color: white;
  background: #000000;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;
}
button {
  position: absolute;
  color:white;
  background-color: #6119A9;
  width:120px;
  height:50px;
  top: 70.35%;
  left: 50%;
  border: 1px solid #6119A9;
  font-weight: bold;
  cursor: pointer;
}

#preload-0 { background: url(http://i.imgur.com/LDgpVum.png) no-repeat -9999px -9999px; }
#preload-1 { background: url(http://i.imgur.com/LDgpVum.png) no-repeat -9999px -9999px; }
#preload-2 { background: url(http://i.imgur.com/O97RowN.png) no-repeat -9999px -9999px; }
#preload-3 { background: url(http://i.imgur.com/O97RowN.png) no-repeat -9999px -9999px; }
#preload-4 { background: url(http://i.imgur.com/skSppj5.png) no-repeat -9999px -9999px; }
#preload-5 { background: url(http://i.imgur.com/skSppj5.png) no-repeat -9999px -9999px; }
#preload-6 { background: url(http://i.imgur.com/mXIqbUQ.png) no-repeat -9999px -9999px; }
#preload-7 { background: url(http://i.imgur.com/mXIqbUQ.png) no-repeat -9999px -9999px; }
#preload-8 { background: url(http://i.imgur.com/URXgoK4.png) no-repeat -9999px -9999px; }
#preload-9 { background: url(http://i.imgur.com/URXgoK4.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(http://i.imgur.com/VgmjEgV.png) no-repeat -9999px -9999px; }
#preload-11 { background: url(http://i.imgur.com/VgmjEgV.png) no-repeat -9999px -9999px; }
#preload-12 { background: url(http://i.imgur.com/yZzYCwd.png) no-repeat -9999px -9999px; }
#preload-13 { background: url(http://i.imgur.com/yZzYCwd.png) no-repeat -9999px -9999px; }
#preload-14 { background: url(http://i.imgur.com/CisBmJQ.png) no-repeat -9999px -9999px; }
#preload-15 { background: url(http://i.imgur.com/CisBmJQ.png) no-repeat -9999px -9999px; }
#preload-16 { background: url(http://i.imgur.com/DWeSrTz.png) no-repeat -9999px -9999px; }
#preload-17 { background: url(http://i.imgur.com/DWeSrTz.png) no-repeat -9999px -9999px; }
#preload-18 { background: url(http://i.imgur.com/xsTizkx.png) no-repeat -9999px -9999px; }
#preload-19 { background: url(http://i.imgur.com/xsTizkx.png) no-repeat -9999px -9999px; }
#preload-20 { background: url(http://i.imgur.com/u7Qmg7m.png) no-repeat -9999px -9999px; }
#preload-21 { background: url(http://i.imgur.com/u7Qmg7m.png) no-repeat -9999px -9999px; }
#preload-22 { background: url(http://i.imgur.com/1oJqmyy.png) no-repeat -9999px -9999px; }
#preload-23 { background: url(http://i.imgur.com/1oJqmyy.png) no-repeat -9999px -9999px; }
#preload-24 { background: url(http://i.imgur.com/8iYcdzH.png) no-repeat -9999px -9999px; }
#preload-25 { background: url(http://i.imgur.com/8iYcdzH.png) no-repeat -9999px -9999px; }
#preload-26 { background: url(http://i.imgur.com/dcCQiuC.png) no-repeat -9999px -9999px; }
#preload-27 { background: url(http://i.imgur.com/dcCQiuC.png) no-repeat -9999px -9999px; }
#preload-28 { background: url(http://i.imgur.com/dcCQiuC.png) no-repeat -9999px -9999px; }
#preload-29 { background: url(http://i.imgur.com/dcCQiuC.png) no-repeat -9999px -9999px; }
#preload-30 { background: url(http://i.imgur.com/TpcX255.png) no-repeat -9999px -9999px; }
#preload-31 { background: url(http://i.imgur.com/TpcX255.png) no-repeat -9999px -9999px; }
#preload-32 { background: url(http://i.imgur.com/TpcX255.png) no-repeat -9999px -9999px; }
#preload-33 { background: url(http://i.imgur.com/TpcX255.png) no-repeat -9999px -9999px; }
#preload-34 { background: url(http://i.imgur.com/TpcX255.png) no-repeat -9999px -9999px; }
#preload-35 { background: url(http://i.imgur.com/0VTZUmH.png) no-repeat -9999px -9999px; }
#preload-36 { background: url(http://i.imgur.com/0VTZUmH.png) no-repeat -9999px -9999px; }
#preload-37 { background: url(http://i.imgur.com/yinA4Ck.png) no-repeat -9999px -9999px; }
#preload-38 { background: url(http://i.imgur.com/MRMGYW9.png) no-repeat -9999px -9999px; }
#preload-39 { background: url(http://i.imgur.com/EFNzBFo.png) no-repeat -9999px -9999px; }
#preload-40 { background: url(http://i.imgur.com/5lIWikT.png) no-repeat -9999px -9999px; }
#preload-41 { background: url(http://i.imgur.com/yDzozxO.png) no-repeat -9999px -9999px; }
#preload-42 { background: url(http://i.imgur.com/yDzozxO.png) no-repeat -9999px -9999px; }
#preload-43 { background: url(http://i.imgur.com/yDzozxO.png) no-repeat -9999px -9999px; }
#preload-44 { background: url(http://i.imgur.com/L8rKzAe.png) no-repeat -9999px -9999px; }
#preload-45 { background: url(http://i.imgur.com/L8rKzAe.png) no-repeat -9999px -9999px; }
#preload-46 { background: url(http://i.imgur.com/Ui9FqrE.png) no-repeat -9999px -9999px; }
#preload-47 { background: url(http://i.imgur.com/g1LxF9b.png) no-repeat -9999px -9999px; }
#preload-48 { background: url(http://i.imgur.com/CPbZv24.png) no-repeat -9999px -9999px; }
#preload-49 { background: url(http://i.imgur.com/y20H3Z4.png) no-repeat -9999px -9999px; }
#preload-50 { background: url(http://i.imgur.com/FpSLRqk.png) no-repeat -9999px -9999px; }
#preload-51 { background: url(http://i.imgur.com/LDgpVum.png) no-repeat -9999px -9999px; }
#preload-52 { background: url(http://i.imgur.com/jaRAnoo.png) no-repeat -9999px -9999px; }
#preload-53 { background: url(http://i.imgur.com/elB0Sx0.png) no-repeat -9999px -9999px; }
#preload-54 { background: url(http://i.imgur.com/f31qJQp.png) no-repeat -9999px -9999px; }
#preload-55 { background: url(http://i.imgur.com/3yWQxEt.png) no-repeat -9999px -9999px; }
#preload-56 { background: url(http://i.imgur.com/1mMEghS.png) no-repeat -9999px -9999px; }
#preload-57 { background: url(http://i.imgur.com/9G28GGe.png) no-repeat -9999px -9999px; }
#preload-58 { background: url(http://i.imgur.com/X5cxbV8.png) no-repeat -9999px -9999px; }
#preload-59 { background: url(http://i.imgur.com/X5cxbV8.png) no-repeat -9999px -9999px; }
#preload-60 { background: url(http://i.imgur.com/gqTw5cz.png) no-repeat -9999px -9999px; }
#preload-61 { background: url(http://i.imgur.com/gqTw5cz.png) no-repeat -9999px -9999px; }
#preload-62 { background: url(http://i.imgur.com/MfLwiN7.png) no-repeat -9999px -9999px; }
#preload-63 { background: url(http://i.imgur.com/MfLwiN7.png) no-repeat -9999px -9999px; }
#preload-64 { background: url(http://i.imgur.com/TmS0qTj.png) no-repeat -9999px -9999px; }
#preload-65 { background: url(http://i.imgur.com/TmS0qTj.png) no-repeat -9999px -9999px; }
#preload-66 { background: url(http://i.imgur.com/7zgdOVQ.png) no-repeat -9999px -9999px; }
#preload-67 { background: url(http://i.imgur.com/7zgdOVQ.png) no-repeat -9999px -9999px; }
#preload-68 { background: url(http://i.imgur.com/7zgdOVQ.png) no-repeat -9999px -9999px; }
#preload-69 { background: url(http://i.imgur.com/7zgdOVQ.png) no-repeat -9999px -9999px; }
#preload-70 { background: url(http://i.imgur.com/nS22XG3.png) no-repeat -9999px -9999px; }
#preload-71 { background: url(http://i.imgur.com/XjyaKWB.png) no-repeat -9999px -9999px; }
#preload-72 { background: url(http://i.imgur.com/HByHqA5.png) no-repeat -9999px -9999px; }
#preload-73 { background: url(http://i.imgur.com/93tJ1lI.png) no-repeat -9999px -9999px; }
#preload-74 { background: url(http://i.imgur.com/InFI0pT.png) no-repeat -9999px -9999px; }
#preload-75 { background: url(http://i.imgur.com/HByHqA5.png) no-repeat -9999px -9999px; }
#preload-76 { background: url(http://i.imgur.com/93tJ1lI.png) no-repeat -9999px -9999px; }
#preload-77 { background: url(http://i.imgur.com/InFI0pT.png) no-repeat -9999px -9999px; }
#preload-78 { background: url(http://i.imgur.com/CdgnJMR.png) no-repeat -9999px -9999px; }
#preload-79 { background: url(http://i.imgur.com/eRyJgd9.png) no-repeat -9999px -9999px; }
#preload-80 { background: url(http://i.imgur.com/lICFnmU.png) no-repeat -9999px -9999px; }
#preload-81 { background: url(http://i.imgur.com/HmVUmTp.png) no-repeat -9999px -9999px; }
#preload-82 { background: url(http://i.imgur.com/x764Quh.png) no-repeat -9999px -9999px; }
#preload-83 { background: url(http://i.imgur.com/FL8jjpB.png) no-repeat -9999px -9999px; }
#preload-84 { background: url(http://i.imgur.com/pOpTbsO.png) no-repeat -9999px -9999px; }
#preload-85 { background: url(http://i.imgur.com/G7B7OTc.png) no-repeat -9999px -9999px; }
#preload-86 { background: url(http://i.imgur.com/G7B7OTc.png) no-repeat -9999px -9999px; }
#preload-87 { background: url(http://i.imgur.com/Jowu8EX.png) no-repeat -9999px -9999px; }
#preload-88 { background: url(http://i.imgur.com/Jowu8EX.png) no-repeat -9999px -9999px; }
#preload-89 { background: url(http://i.imgur.com/6kyf8y7.png) no-repeat -9999px -9999px; }
#preload-90 { background: url(http://i.imgur.com/hzI0tda.png) no-repeat -9999px -9999px; }
#preload-91 { background: url(http://i.imgur.com/hzI0tda.png) no-repeat -9999px -9999px; }
#preload-92 { background: url(http://i.imgur.com/hzI0tda.png) no-repeat -9999px -9999px; }
#preload-93 { background: url(http://i.imgur.com/tfKUyGE.png) no-repeat -9999px -9999px; }
#preload-94 { background: url(http://i.imgur.com/tfKUyGE.png) no-repeat -9999px -9999px; }
#preload-95 { background: url(http://i.imgur.com/tfKUyGE.png) no-repeat -9999px -9999px; }
#preload-96 { background: url(http://i.imgur.com/KNf2CCz.png) no-repeat -9999px -9999px; }
#preload-97 { background: url(http://i.imgur.com/rffpKr3.png) no-repeat -9999px -9999px; }
#preload-98 { background: url(http://i.imgur.com/t8SuLpQ.png) no-repeat -9999px -9999px; }
#preload-99 { background: url(http://i.imgur.com/jvPlqG5.png) no-repeat -9999px -9999px; }
#preload-100 { background: url(http://i.imgur.com/jvPlqG5.png) no-repeat -9999px -9999px; }
#preload-101 { background: url(http://i.imgur.com/jvPlqG5.png) no-repeat -9999px -9999px; }
